.container {
  width: 90%;
  max-width: 1237px;
  margin: auto;
}

.row {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.col {
  &-30 {
    // flex-basis: 30%;
    width: 30%;
    z-index: 3;
  }

  &-45 {
    width: 45%;
  }

  &-50 {
    width: 50%;
  }

  &-55 {
    width: 55%;
  }

  &-70 {
    width: 70%;
  }
}