@media screen and (max-width: 1200px) {
  html {
    font-size: 10px;
  }

  .nav {
    &__item {
      margin-right: 1rem;
    }
  }

  .footer {
    &__map iframe{
      margin: auto;
      max-width: 100%;
    }
  }
}

@media screen and (max-width: 992px) {
  .nav {
    display: none;
  }

  .hero {
    &__instagram {
      display: none;
    }

    &__content {
      margin-left: 0;
    }
  }

  .btn {
    &:hover {
      cursor: auto;
    }

    &--primary {
      &:hover {
        box-shadow: 0px 5px 15px rgba($primary, 0.2);
      }
    }

    &--outline {
      &:hover {
        background-color: transparent;
        box-shadow: none;
      }
    }
  }
}

@media screen and (max-width: 760px) {
  .row {
    flex-direction: column;
    align-items: center;
  }

  .types {
    &__card {
      margin-bottom: 5rem;
    }
  }

  .card {
    &__text {
      margin-left: 0;
    }
  }

  .design {
    background-color: $bacground;
    color: $light;

    &__subtitle {
      color: $light;
    }

    &__card {
      margin-bottom: 5rem;
    }
  }

  .footer {
    &__wrap {
      z-index: 3;
    }
    &__map {
      width: 100%;
    }
  }
}

@media screen and (max-width: 570px) {
  .contacts {
    &__phone {
      margin-right: 0;
      color: $light;
      text-decoration: none;
    }

    &__btn {
      display: none;
    }
  }

  .title {
    font-size: 1.64rem;
  }

  .hero {
    &__scroll-down {
      display: none;
    }

    &__content {
      max-width: 22.86rem;
    }

    &__text {
      font-size: 1.29rem;
      margin-bottom: 2.28rem;
    }

    &__btn {
      display: block;
      min-width: 22.86rem;
      margin-bottom: 1.85rem;
    }
  }

  .footer {
    &__coordinates {
      order: 2;
    }
  }
}

@media screen and (max-height: 520px) {
  .hero {
    &__scroll-down {
      display: none;
    }
  }
}