*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  font-size: 14px;
}

body {
  font-family: 'Futura Book', sans-serif;
  font-size: 1rem;
}

img {
  max-width: 100%;
}

.section {
  padding: 60px 0;

  &--dark {
    background-color: $dark;
    color: $light;
  }

  &-title {
    text-align: center;
    text-transform: uppercase;
    font-family: 'Yeseva One', cursive;

    &--left {
      text-align: left;
      margin-bottom: 3.5rem;
    }

    &__heading {
      margin: 0;
      margin-bottom: 1.64rem;
      font-size: 1.42rem;

      &--primary {
        color: $primary;
        font-size: 1.93rem;
        line-height: 2.64rem;
        letter-spacing: -0.15rem;
      }
    }

    &__word {
      display: flex;
      align-items: center;

      &::after {
        content: '';
        width: 92px;
        height: 2px;
        margin-left: 2.57rem;
        background-color: $primary;
      }
    }

    &__text {
      margin: 0;
      max-width: 31.57rem;
      font-family: 'Futura Book', sans-serif;
      font-size: 1.28rem;
      line-height: 2.07rem;
      text-transform: none;
    }

    &__subtitle {
      font-family: 'Futura Book', sans-serif;
      font-size: 1.07rem;
      font-weight: 500;
    }
    
    &__img {
      display: flex;
      justify-content: center;
      align-items: center;

      &::after,
      &::before {
        content: '';
        margin: 0 10px;
        width: 32px;
        height: 2px;
        background-color: $primary;
      }
    }
  }
}