.design {
  position: relative;
  padding-bottom: 0;

  &::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    right: 0;
    width: 100%;
    height: 45%;
    background-color: $dark;
  }

  &__section-title {
    margin-bottom: 1.2rem;
  }
  &__subtitle {
    margin: 0 auto;
    margin-bottom: 2.86rem;
    max-width: 52.93rem;
    font-size: 1.42rem;
    line-height: 1.93rem;
    text-align: center;
    color: $subtitle;
  }
}