.footer {
  padding-top: 3rem;
  background: $dark url('../img/footer-bg.jpg') no-repeat center / cover;

  .container {
    display: flex;
    flex-direction: column;
  }

  &__wrap {
    margin: auto;
    margin-top: -20rem;
    margin-bottom: 3.57rem;
    padding: 2.5rem;
    max-width: 63.07rem;
    background-color: $black;
    z-index: 3;
  }

  &__title {
    margin-bottom: 3.43rem;
    margin-top: 0;
    font-family: 'Yeseva One', cursive;
    font-weight: normal;
    font-size: 1.428rem;
    text-align: center;
    text-transform: uppercase;
  }

  &__form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: auto;
    max-width: 37.142rem;
  }

  &__input {
    padding-top: 0.1rem;

    &-group {
      display: flex;
      flex-direction: column;
      flex-basis: 45%;
      margin-bottom: 3.1rem;

      &--full-width {
        flex-basis: 100%;
        margin-bottom: 2rem;
      }
    }
  }

  &__policy {
    flex-basis: 100%;
    margin-bottom: 3.64rem;
  }

  &__btn {
    margin: auto;
    padding: 1.21rem 4.21rem;
    font-size: 1.07rem;
  }

  &__coordinates {
    font-family: 'Yeseva One', cursive;
    text-align: center;
  }

  &__adress {
    margin: 0;
    margin-bottom: 1.5rem;
    color: $primary;
    font-size: 1.43rem;
    line-height: 2rem;
    text-transform: uppercase;
  }

  &__link {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-right: 1rem;
    margin-bottom: 3.14rem;
    width: 28px;
    height: 28px;
    background-color: $primary;
    border-radius: 50%;
  }

  &__map {
    margin: auto;
    margin-bottom: 4.36rem;
    // max-width: 66.07rem;
    min-height: 33.21rem;
    width: 66.07rem;
    // height: 33.21rem;
  }

  &__menu {
    padding: 3.57rem 0;
    background-color: $dark;
  }
}