.projects {
  padding-bottom: 30rem;
}

.swiper {
  &-slide {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 4.36rem;

    &__text {
      flex-basis: 50%;
      padding-bottom: 2.8rem;
      max-width: 13.64rem;
    }

    &__heading {
      margin: 0;
      margin-bottom: 0.5rem;
      font-family: 'Yeseva One', cursive;;
      font-size: 1.285rem;
      line-height: 1.7rem;
      text-transform: uppercase;
      color: $primary;
    }

    &__value {
      font-size: 1.07rem;
      line-height: 1.4rem;
    }
  }

  &-pagination {
    &-bullets {
      width: auto;
    }

    &-bullet {
      width: 10px;
      height: 10px;
      background-color: rgba($light, 0.3);

      &-active {
        background-color: $light;;
      }
    }
  }

  &-button {
    &-prev,
    &-next {
      bottom: 0;
      top: auto;
      background-size: 42px;
      width: 42px;
      height: 14px;

      &::after {
        display: none;
      }
    }

    &-prev {
      left: 0;
      background: url('../img/arrow-prev.svg') no-repeat center;
    }

    &-next {
      background: url('../img/arrow-next.svg') no-repeat center;
    }
  }
}

.swiper-container-horizontal>.swiper-pagination-bullets {
  bottom: -2px;
  width: auto;
}

.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0;
  margin-right: 17px;
}