.steps {
  padding-top: 0;
  
  &__heading {
    margin-bottom: 6.57rem;
    letter-spacing: 0; 
  }

  &__word {
    &::after {
      margin-left: 6.21rem;
    }
  }

  &__counter {
    margin-bottom: 1.5rem;
    font-family: 'Yeseva One', cursive;
    font-size: 1.2rem;
  }
}